DISCORD_API_TOKEN=<fill-your-own-token>
DISABLED_PLUGINS=
PROXY_HOST=
PROXY_PORT=
DOWNLOAD_FOLDER=downloads
# DNS-over-HTTPS endpoint; set to 'off' to use the system resolver
DOH_URL=https://1.1.1.1/dns-query
# set to 1 to run the stdin test CLI instead of connecting to discord
TEST_CLI_MODE=
